.container{
	width:100%;
	height:auto;}
	
.container img {
	left:20%;

  width: 1000;
  height: 1550;
  position:absolute;
 
} 



.container .btn {
  position:relative;
  margin-top:6%;
  top:25%;
  left: 25%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color:#D3CFCB;
  color: black;
  font-size: 20px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  width:50%}
  
 
	  
 /* 
  position:relative;
  top: 50%;
  left: 50%;
	 transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border-radius: 5px;
  width:50%
  */
 

/*

.btn1 {width: 250px;}
.btn2 {width: 50%;}
*/
.container .btn:hover {
  background-color: black;
  color: white;
}